.env
.venv

Thumbs.db

# Credentials & tokens
credentials.json
token.json
.env
.secrets

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# VSCode / IDE
.vscode/
.idea/

tempCodeRunnerFile.py

credentials.json
token.json
.secrets
.venv
__pycache__/
tempCodeRunnerFile.py
.vscode/
